.antti-hunnakko-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(145, 185, 210) 2.00%,rgba(20, 12, 51, 0.6) 27.00%,rgba(62, 39, 153, 0.6) 80.00%,rgb(145, 185, 210) 100.00%);
}
.antti-hunnakko-container1 {
  flex: 0 0 auto;
  width: 1181px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.antti-hunnakko-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.antti-hunnakko-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.antti-hunnakko-text {
  font-weight: bold;
  margin-bottom: var(--dl-space-space-halfunit);
}
.antti-hunnakko-text01 {
  margin: var(--dl-space-space-halfunit);
  font-weight: bold;
}
.antti-hunnakko-feature-card {
  width: 100%;
  height: 322px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.antti-hunnakko-icon {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.antti-hunnakko-text02 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.antti-hunnakko-text03 {
  color: var(--dl-color-gray-black);
  text-align: center;
}
.antti-hunnakko-text04 {
  line-height: 1.5;
}
.antti-hunnakko-text05 {
  line-height: 1.5;
}
.antti-hunnakko-text06 {
  line-height: 1.5;
}
.antti-hunnakko-text07 {
  line-height: 1.5;
}
.antti-hunnakko-text08 {
  line-height: 1.5;
}
.antti-hunnakko-text09 {
  line-height: 1.5;
}
.antti-hunnakko-text10 {
  line-height: 1.5;
}
.antti-hunnakko-text11 {
  line-height: 1.5;
}
.antti-hunnakko-text12 {
  line-height: 1.5;
}
.antti-hunnakko-text13 {
  line-height: 1.5;
}
.antti-hunnakko-text14 {
  line-height: 1.5;
}
.antti-hunnakko-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.antti-hunnakko-icon02 {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.antti-hunnakko-text16 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.antti-hunnakko-text17 {
  color: var(--dl-color-gray-black);
  text-align: center;
  line-height: 1.5;
}
.antti-hunnakko-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.antti-hunnakko-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.antti-hunnakko-icon04 {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.antti-hunnakko-text27 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.antti-hunnakko-text28 {
  color: var(--dl-color-gray-black);
  text-align: center;
}
.antti-hunnakko-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.antti-hunnakko-icon06 {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.antti-hunnakko-text48 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.antti-hunnakko-text49 {
  color: var(--dl-color-gray-black);
  text-align: center;
}
.antti-hunnakko-text76 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.antti-hunnakko-social-bar {
  width: 100%;
  height: 117px;
  display: flex;
  padding-top: 60px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.antti-hunnakko-container5 {
  height: 26px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 1px;
  justify-content: center;
}
.antti-hunnakko-text77 {
  align-self: center;
}
.antti-hunnakko-icon08 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.antti-hunnakko-text80 {
  color: var(--dl-color-gray-700);
  font-size: 13px;
}
@media(max-width: 767px) {
  .antti-hunnakko-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .antti-hunnakko-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
