.hunnakko-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-bg2);
}
.hunnakko-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.hunnakko-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hunnakko-text {
  color: var(--dl-color-gray-white);
}
.hunnakko-container02 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 188px;
  bottom: 0px;
  height: 49px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.hunnakko-text001 {
  color: var(--dl-color-gray-white);
}
.hunnakko-navlink {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.hunnakko-icon-group {
  display: flex;
}
.hunnakko-link {
  display: contents;
}
.hunnakko-icon {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.hunnakko-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hunnakko-container03 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.hunnakko-text002 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
}
.hunnakko-text003 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.hunnakko-text005 {
  font-weight: 700;
}
.hunnakko-text007 {
  font-weight: 700;
}
.hunnakko-text009 {
  font-weight: 700;
}
.hunnakko-text011 {
  font-weight: 700;
}
.hunnakko-text016 {
  font-weight: 700;
}
.hunnakko-text023 {
  font-weight: 700;
}
.hunnakko-text028 {
  font-weight: 700;
}
.hunnakko-image {
  width: 400px;
  object-fit: cover;
}
.hunnakko-container04 {
  height: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: #5db9a6;
  border-style: solid;
  border-width: 5px;
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hunnakko-image1 {
  width: 400px;
  object-fit: cover;
}
.hunnakko-container05 {
  display: flex;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 0px;
  flex-direction: column;
}
.hunnakko-text032 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
}
.hunnakko-text033 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.hunnakko-text035 {
  font-weight: 700;
}
.hunnakko-text039 {
  font-weight: 700;
}
.hunnakko-text043 {
  line-height: 1.5;
}
.hunnakko-text045 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text046 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text047 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text048 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text049 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text050 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text051 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text052 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-text053 {
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.hunnakko-container06 {
  height: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: #5d87b9;
  border-style: solid;
  border-width: 5px;
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-hero2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.hunnakko-container07 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.hunnakko-text058 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
}
.hunnakko-text059 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.hunnakko-text061 {
  font-weight: 700;
}
.hunnakko-text066 {
  font-weight: 700;
}
.hunnakko-text068 {
  font-weight: 700;
}
.hunnakko-text070 {
  font-weight: 700;
}
.hunnakko-text072 {
  font-weight: 700;
}
.hunnakko-text084 {
  font-weight: 700;
}
.hunnakko-text089 {
  font-weight: 700;
}
.hunnakko-text091 {
  font-weight: 700;
}
.hunnakko-text093 {
  font-weight: 700;
}
.hunnakko-image2 {
  width: 400px;
  object-fit: cover;
}
.hunnakko-container08 {
  height: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-color: #b95db6;
  border-style: solid;
  border-width: 5px;
  margin-right: var(--dl-space-space-unit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-hero3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-container09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hunnakko-text095 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.hunnakko-text096 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
}
.hunnakko-text097 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fiveunits);
}
.hunnakko-text105 {
  font-weight: 700;
}
.hunnakko-text107 {
  font-weight: 700;
}
.hunnakko-text109 {
  font-weight: 700;
}
.hunnakko-navlink1 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-buttonbg);
}
.hunnakko-navlink1:hover {
  transform: scale(1.02);
}
.hunnakko-text111 {
  color: var(--dl-color-gray-white);
}
.hunnakko-text112:hover {
  transform: scale(1.02);
}
.hunnakko-container10 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text114 {
  color: var(--dl-color-gray-white);
  align-self: center;
}
.hunnakko-container11 {
  width: 50%;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  border-color: #622d84;
  border-style: solid;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-text115 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-text119 {
  font-weight: 700;
}
.hunnakko-container12 {
  flex: 1;
  height: 160px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text121 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-container13 {
  width: 50%;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  border-color: #2d8479;
  border-style: solid;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-text122 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-text125 {
  font-weight: 700;
}
.hunnakko-text126 {
  font-weight: 700;
}
.hunnakko-text135 {
  font-weight: 700;
}
.hunnakko-container14 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text137 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-container15 {
  width: 50%;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  border-color: #84672d;
  border-style: solid;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-text138 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.hunnakko-text140 {
  font-weight: 700;
}
.hunnakko-text144 {
  font-weight: 700;
}
.hunnakko-container16 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text146 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-container17 {
  width: 50%;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  border-color: #c26a17;
  border-style: solid;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-text147 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.hunnakko-text149 {
  font-weight: 700;
}
.hunnakko-text151 {
  font-weight: 700;
}
.hunnakko-container18 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text155 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
}
.hunnakko-container19 {
  width: 50%;
  height: 2px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  border-color: #1b7792;
  border-style: solid;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.hunnakko-text156 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.hunnakko-text158 {
  font-weight: 700;
}
.hunnakko-text160 {
  font-weight: 700;
}
.hunnakko-text161 {
  font-weight: 700;
}
.hunnakko-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.hunnakko-text163 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
}
.hunnakko-text164 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.hunnakko-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.hunnakko-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hunnakko-text170 {
  color: var(--dl-color-gray-white);
}
.hunnakko-container21 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: space-between;
  flex-direction: column;
  justify-content: center;
}
.hunnakko-text171 {
  color: var(--dl-color-gray-white);
  align-self: center;
}
.hunnakko-link1 {
  display: contents;
}
.hunnakko-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.hunnakko-icon2 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .hunnakko-hero {
    flex-direction: column;
  }
  .hunnakko-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .hunnakko-text002 {
    text-align: center;
  }
  .hunnakko-text003 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .hunnakko-hero1 {
    flex-direction: column;
  }
  .hunnakko-container05 {
    align-items: center;
    margin-right: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .hunnakko-text032 {
    text-align: center;
  }
  .hunnakko-text033 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .hunnakko-hero2 {
    flex-direction: column;
  }
  .hunnakko-container07 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .hunnakko-text058 {
    text-align: center;
  }
  .hunnakko-text059 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .hunnakko-hero3 {
    flex-direction: column;
  }
  .hunnakko-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-text095 {
    text-align: center;
  }
  .hunnakko-text096 {
    text-align: center;
  }
  .hunnakko-text097 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .hunnakko-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-text003 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-image {
    width: 80%;
  }
  .hunnakko-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-image1 {
    width: 80%;
  }
  .hunnakko-text033 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-text059 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-image2 {
    width: 80%;
  }
  .hunnakko-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-text097 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-text164 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-text165 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hunnakko-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hunnakko-text171 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .hunnakko-header {
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .hunnakko-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hunnakko-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-container05 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: 00px;
    margin-bottom: var(--dl-space-space-unit);
    padding-right: 00px;
  }
  .hunnakko-text032 {
    font-size: 3rem;
  }
  .hunnakko-text035 {
    font-weight: 700;
  }
  .hunnakko-text039 {
    font-weight: 700;
  }
  .hunnakko-text043 {
    line-height: 1.5;
  }
  .hunnakko-text044 {
    line-height: 1.5;
  }
  .hunnakko-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-container07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hunnakko-hero3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-container09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hunnakko-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .hunnakko-text112 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .hunnakko-container14 {
    height: 192px;
  }
  .hunnakko-container16 {
    height: 240px;
  }
  .hunnakko-container18 {
    height: 161px;
  }
  .hunnakko-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hunnakko-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .hunnakko-text171 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
