.navigation-links5-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links5-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links5-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links5-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links5-text4 {
  margin-left: var(--dl-space-space-twounits);
}









@media(max-width: 767px) {
  .navigation-links5-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links5-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links5-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.projects-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 188px;
  bottom: 0px;
  height: 49px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.projects-navlink {
  text-decoration: none;
}
.projects-icon-group {
  display: flex;
}
.projects-link {
  display: contents;
}
.projects-icon {
  width: 20px;
  height: 17px;
  text-decoration: none;
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projects-image {
  height: 2rem;
}
.projects-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projects-text01 {
  font-size: 3rem;
  text-align: center;
}
.projects-text02 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 767px) {
  .projects-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .projects-header {
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
