.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  top: 17px;
  fill: var(--dl-color-gray-500);
  left: 17px;
  width: 2rem;
  height: 2rem;
  position: absolute;
}
.feature-card2-icon2 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  color: var(--dl-color-gray-white);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card2-text1 {
  color: var(--dl-color-gray-white);
}




@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.rdr2wo-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-bg2);
}
.rdr2wo-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.rdr2wo-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.rdr2wo-text {
  color: var(--dl-color-gray-white);
}
.rdr2wo-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 188px;
  bottom: 0px;
  height: 49px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.rdr2wo-navlink {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.rdr2wo-navlink1 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.rdr2wo-icon-group {
  display: flex;
}
.rdr2wo-link {
  display: contents;
}
.rdr2wo-icon {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.rdr2wo-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.rdr2wo-text01 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
}
.rdr2wo-text02 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.rdr2wo-link1 {
  text-decoration: underline;
}
.rdr2wo-image {
  width: 1069px;
  height: 591px;
  box-shadow: 5px 5px 10px 0px #000000;
  object-fit: cover;
}
.rdr2wo-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.rdr2wo-text24 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.rdr2wo-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.rdr2wo-container4 {
  width: 100%;
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rdr2wo-image1 {
  width: 475px;
  height: 439px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #000000;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
}
.rdr2wo-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.rdr2wo-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.rdr2wo-text25 {
  color: var(--dl-color-gray-white);
}
.rdr2wo-container6 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: space-between;
  flex-direction: column;
  justify-content: center;
}
.rdr2wo-text26 {
  color: var(--dl-color-gray-white);
  align-self: center;
}
.rdr2wo-link2 {
  display: contents;
}
.rdr2wo-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.rdr2wo-icon2 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 991px) {
  .rdr2wo-text02 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .rdr2wo-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rdr2wo-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rdr2wo-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .rdr2wo-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rdr2wo-container3 {
    grid-template-columns: 1fr;
  }
  .rdr2wo-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rdr2wo-text26 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .rdr2wo-header {
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .rdr2wo-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rdr2wo-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rdr2wo-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .rdr2wo-text26 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
